build/**
data/**
config*.toml
**.pdf
**.png
**.tsv

Object_Data/**
configs/**

Makefile
Katu.*

data.dat
model
src/model.c
src/test.c

# ignore results from multinest or emcee
data_multinest/**
data_mcmc/**
*_results/**

# Ignore the program to produce the BH table and the table
tables/BH_KA_table.tab
tables/table

# Ignore the example executables
example_data
example_graphics
example_simple
example_spheres
example_wrapper
